---
import { Image } from 'astro:assets';

interface Props {
	name: string;
	image: any;
	link: string;
	accent: string;
}

const { link, name, image, accent } = Astro.props;
---
<a href={link} target="_blank" style={`border-color: rgb(from ${accent} r g b / 0.4); background-color: rgb(from ${accent} r g b / 0.3);`} class="flex flex-col justify-center items-center w-72 h-24 border-2 rounded-xl p-8 py-4 text-white gap-2">
	<span class="flex justify-start items-center flex-row gap-4 w-full">
		<Image src={image} alt="DynSchedule Icon" class="w-12 h-12" />
		<h1 class="font-inter font-semibold text-2xl text-center w-full">{name}</h1>
	</span>
</a>
